/__pycache__
/ocr_processor_add_server_mode.py
/pre_process_log_msg_2024_07_18052419.log
/status_info.json
/test.py
/tika-app-2.8.0.jar
/tika-config.xml
/tika-server-1.26.jar
/tika-server-1.7.jar
/tika-server.jar
/tika_1.7_ver.py
/tika_ocr_client.py
/tika_ocr_processor_2024-07-18 05:36:51.859999.log
/tika_ocr_processor_v1.py
/tika_ocr_processor_v2.py
/tika_ocr_processor_v3.py
/tika_ocr_processor_v4.py
/tika_ocr_processor_v5.py
/tika_ocr_server.py
/tika_ocr_server_mj.py