/__pycache__
/ocr_processor_add_server_mode.py
/pre_process_log_msg_2024_07_18052419.log
/status_info.json
/tika-app-2.8.0.jar
/tika-server-1.26.jar
/tika-server-1.7.jar
/tika-server.jar
/tika_ocr_processor_2024-07-18 05:36:51.859999.log
tesseract_package
